.App {
  text-align: center;
}


.homepage{
  display: flex;
  justify-content: center;
  position: relative;
  width:100vw;
  height:100vh;
  overflow: hidden;
}

.arrowleft{
  margin-left: 10px;
  position: absolute;
  left: 0;
  top:50%;
}

.arrowright{
  margin-right: 10px;
  position:absolute;
  right: 0;
  top:50%;

}

.homename{
  font-size:70px;
  background-color: aqua;
  margin: auto 0;
  position: absolute;
  top: 20px;
}

.circle{
  display: flex;
  justify-content: space-between;
  width: fit-content;
  position: absolute;
  bottom: 50px;
  left: 46%;
}

.homedescription{
  font-size: 25px;
  width: 30%;
  height:fit-content;
  background-color: azure;
  position: absolute;
  bottom: 15%;
  right: 120px;

}

.restimage{
  overflow: hidden;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: antiquewhite;
  position: absolute;
  left: 40vw;
  top: 25%;
}

.indicator{
  margin-right: 10px;
  width: 20px;
  height: 20px;
  /* background-color: white; */
  border-radius:50%;
}
.menu{
  display: flex;
  justify-content: space-evenly;
  width: 95vw;
  height: 95vh;
  position: relative;
}
.leftSection{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
  height: 100%;
}
.imagedetswrapper{
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 80%;
}
.dishImage{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  overflow: hidden;
  background-color: cyan;
}
.foodDets{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foodName{
  font-size: 3rem;
}
.Menudisplay{
  position: relative;
  height: 30%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filters{
  width: 70%;
  height: 10%;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.rightSection{
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}
.overview{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 90%;
  height: 80%;
  border-radius: 25px;
  background-color: aliceblue;
}
.menuSlideControlsleft{
  position: absolute;
  top: 50%;
  left: 10px;
}
.menuSlideControlsright{
  position: absolute;
  top: 50%;
  right: 10px;
}
.itemCard{
  background-color: azure;
  height: 90%;
  width: 20%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.foodPlate{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: bisque;
}
.ItemName{
  align-items: center;
  max-width: 90%;
  text-align: center;
  font-weight: bolder;
}
.tabs{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 20px;
  font-weight: bolder;
}
.landingBackground{
  filter: blur(4px);
}
.orderCardWrapper{
  height: 100px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.orderTab{
  display: flex;
  position: relative;
}
.ordersIndicator{
  position: absolute;
  display: none;
  top: -30px;
  right: -10px;
  font-weight: bolder;
  font-size: 35px;
  color: blue;
}
.orderDataWrapper{
  text-overflow: ellipsis;
  width: 60%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.orderImage{
  background-color: blue;
  width: 45px;
  height: 60px;
  border-radius: 50px;
  margin-right: 10px;
}
.RemoveOrder{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: red;
}
.orderData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}
.orderName{
  font-weight: bold;
}
.buttonReserve{
  position: absolute;
  bottom: 20px;
}
.infoWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 70%;
}
.ratings{
  position: relative;
  background-color: yellow;
  border-radius: 10px;
  height: 100px;
  width: 80px;
}
.ratingNum{
  position: absolute;
  right: -35px;
  font-weight: bolder;
  font-size: 4rem;
}
.infoName{
  font-weight: bolder;
  font-size: 1.5rem;
  font-style: italic;
}
.menuSlideControlsleft, .menuSlideControlsright{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: bisque;
}

.photo{
  width: 100%;
  height: 100%;
  position: absolute;
}