.App {
  text-align: center;
}


.homepage{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: red;
  width:100vw;
  height:100vh;
  overflow: hidden;
}

.arrowleft{
  margin-left: 10px;
  position: absolute;
  left: 0;
  top:50%;
}

.arrowright{
  margin-right: 10px;
  position:absolute;
  right: 0;
  top:50%;

}

.homename{
  font-size:70px;
  background-color: aqua;
  margin: auto 0;
  position: absolute;
  top: 20px;
}

.circle{
  display: flex;
  justify-content: space-between;
  width: 100px;
  position: absolute;
  bottom: 50px;
  left: 46%;
}

.homedescription{
  font-size: 25px;
  width: 30%;
  height:fit-content;
  background-color: azure;
  position: absolute;
  bottom: 15%;
  right: 120px;

}

.restimage{
  overflow: hidden;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: antiquewhite;
  position: absolute;
  left: 40vw;
  top: 25%;
}

.indicator{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius:50%;
}